---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign people = site.people | sort: 'order' %}
  {% assign people_external = site.people_external | sort: 'order' %}
  {% assign people_alumni = site.people_alumni | sort: 'order' %}
  {% assign publications = site.publications | where:"selected","true" | sort: 'date' | reverse %}

  <a id="people"><h2>People</h2></a>
  {%- if people.size > 0 -%}
    {%- for person in people -%}
      {% assign mod = forloop.index | modulo: 5 %}
      {% if mod == 1 %}
      <div class="people">
        {%- endif -%}
          <div class="person">
            <a href="{{ person.link }}">
              <div class="person-profile">
                {{ person.content }}
                <div class="person-text">
                  <p class="person-name">{{ person.name }}</p>
                  <p class="person-position">{{ person.position }}</p>
                </div>
              </div>
            </a>
          </div>
        {% if mod == 0 or forloop.index == people.size - 1 %}
      </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  <h3>External Collaborators</h3>
  {%- if people_external.size > 0 -%}
    <div class="people">
      {%- for person in people_external -%}
        <div class="person">
          <a href="{{ person.link }}">
            <div class="person-profile">
              {{ person.content }}
              <div class="person-text">
                <p class="person-name">{{ person.name }}</p>
                <p class="person-position">{{ person.position }}</p>
              </div>
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
  <h3>Alumni</h3>
  {%- if people_alumni.size > 0 -%}
    <div class="people">
      {%- for person in people_external -%}
        <div class="person">
          <a href="{{ person.link }}">
            <div class="person-profile">
              {{ person.content }}
              <div class="person-text">
                <p class="person-name">{{ person.name }}</p>
                <p class="person-position">{{ person.position }}</p>
              </div>
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

  <h2>Selected Publications</h2>
  {%- if publications.size > 0 -%}
    <div class="publications">
      <ul>
        {%- for pub in publications -%}
        <li class="pub">
          <a href="{{ pub.link }}">
            <h3>
              {{ pub.title }}
            </h3>
          </a>
          <p>{{ pub.authors }}</p>
          <p>{{ pub.conference }}, {{ pub.date | date: "%B %Y" }}</p>
        </li>
        {%- endfor -%}
      </ul>
      <a class="page-link" href="{{ "publications" | relative_url }}">More...</a>
    </div>
  {%- endif -%}

</div>
